OPENROUTER_API_KEY=
MR_GENERATION_MDOEL=openai/gpt-oss-120b:free
MR_GENERATION_PROVIDER=openai
TEST_GENERATION_MODEL=nvidia/nemotron-3-super-120b-a12b:free 
TEST_GENERATION_PROVIDER=nvidia
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1